/*------------------------------------------------
# Document Base Styles
------------------------------------------------*/
/*------------------------------------------------
## CSS Reset
------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
    width: 100%;
    margin: 0; 
    padding: 0; 
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
      
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  button{
      cursor: pointer;
  }
  
  /*------------------------------------------------
  ## Layout
  ------------------------------------------------*/
  
  /*making 10px our base size*/
  html {
      /* 1rem = 10px */
      font-size: 62.5%;
  
      /* Border Box fix */
      box-sizing: border-box;
  
      /* Smooth scrolling */
      scroll-behavior: smooth;
  }
  
  
  /*------------------------------------------------
  ## CSS variables
  ------------------------------------------------*/
  :root{
          /* Screen widths for reference not usage */
      --wide: 128rem; /* 320px diff (1280 px)*/ 
      --desktop: 96rem; /* 240px diff(960 px) */
      --tablet: 72rem; /* 180px diff (720 px)*/
      --phone: 54rem;/*(540 px) */
  
      /* Colors */
      --color-header:rgba(35, 35, 49, 0.9);
      --color-button:#009961;
      --color-green-dark:#162e09;
      --color-green:#009961;
      --color-green-lighter:#5fcf80;
      --color-image-filter:rgba(0, 0, 0, 0.5);
      --color-image-filter-darker:rgba(0, 0, 0,0.9);
      --color-background: ;
      --color-black: rgba(0, 0, 0,0.8);
      --color-white: #ffffff;
      --color-bg: #151025; /* #050060 - darker */
      --color-bg-dk: #050060; /* rgb(5, 0, 96); */
      --color-purple-rgb: rgba(164, 88, 255, 1); /* #d392ff? */
      --color-purple-dk: #a458ff;
      --color-purple: #d392ff;
      --color-blue-rgb: rgba(53, 68, 255, 1); /* #3544ff? */
      --color-blue: #3544ff;
      --color-blue-dk-rgb: rgba(10, 47, 158, 1); /* #0a2f9e? */
      --color-blue-dk: #0a2f9e;
      --color-neon-dk: #24d6ff;
      --color-neon: #00ffff;
      --color-yellow: #f5b81b;
      --color-yellow-lighter:#fcdb5a;
      --color-gray: #585963;
      --background:#e4eaf2;
      --background-color-elements:#ffffff;
      --background-color:#edf2fa;
      --background-color-location:rgba(0,0,0,0.9);
      --background-lighter:#f6f9ff;
      --btn-blue-darker:#012970;
      --font-btn-green:rgb(95, 207, 128);
      --color-hover:#ffffff;
      --logo-color:#00895c;
      --btn-color-blue:#4154f1;
      --font-general-lighter:#0a0a0a;
      --box-shadow-color:rgba(55,66,59,0.08);
      --harmburger-color:#012970;
      --font-primary-darker-faded:rgba(0, 153, 97,0.3);
      --font-secondary-lighter-fadded:rgba(95, 207, 128,0.2);
      
      --font-blue-darker:#0d6efd;
      --btn-color-green:rgb(0, 153, 97);
      --harmburger-font-size:32px;
      --font-size-search-small:15px;
      --search-icon-color:#000;
      --today-color:#899bbd;
      --font-family-lato: 'Lato', sans-serif;
      --font-family--roboto: 'Roboto', sans-serif;
  
      /*fonts */
      --font-body:'Open Sans','Roboto','lato',sans-serif;
      
  
      /* Gradients eg add yours if need arises */
    --bg-gradient: linear-gradient(
      240deg,
      rgba(164, 88, 255, 1) 0%,
      rgba(53, 68, 255, 1) 40%,
      rgba(10, 47, 158, 1) 80%
    );
  --bg-gradient-img: url("https://www.transparenttextures.com/patterns/stardust.png"),
    linear-gradient(
      240deg,
      rgba(164, 88, 255, 1) 0%,
      rgba(53, 68, 255, 1) 40%,
      rgba(10, 47, 158, 1) 80%
    );
  --bg-gradient-reverse: linear-gradient(
      60deg,
      rgba(164, 88, 255, 1) 0%,
      rgba(53, 68, 255, 1) 40%,
      rgba(10, 47, 158, 1) 80%
    );
  --bg-gradient-img-reverse: url("https://www.transparenttextures.com/patterns/stardust.png"),
    linear-gradient(
      60deg,
      rgba(164, 88, 255, 1) 0%,
      rgba(53, 68, 255, 1) 40%,
      rgba(10, 47, 158, 1) 80%
        );
        
  /* Shadows add different box shadows be consistent in the website*/
  --text-shadow: 1px 2px 4px rgba(5, 0, 96, 0.5);
  --text-shadow-strong: 1px 1px 3px rgba(5, 0, 96, 0.85);
  
  /* Easings */
  --ease-bounce: cubic-bezier(.75,-0.5,0,1.75);
  
  /* Text sizing */
  --base-size: 1.6rem; /* 16px */
  --type-scale: 1.33; /*search type scale.com */
  --small: var(--base-size);
  --body: calc( var(--base-size) * var(--type-scale) ); /* 21.33px */
  --h6: calc( var(--body) * var(--type-scale) ); /* 28.43px */
  --h5: calc( var(--h6) * var(--type-scale) );/* 28.43px * 1.33  =37.8 px*/
  --h4: calc( var(--h5) * var(--type-scale) );/* 28.43px * 1.33 * 1.33  = 50.28 px*/
  --h3: calc( var(--h4) * var(--type-scale) );/* 28.43px * 1.33 * 1.33 * 1.33  = 66.8 px*/
  --h2: calc( var(--h3) * var(--type-scale) );/* 28.43px * 1.33 * 1.33 * 1.33 * 1.33  = 88.95 px*/
  --h1: calc( var(--h2) * var(--type-scale) );/* 28.43px * 1.33 * 1.33 * 1.33 * 1.33  = 118.31 px*/
  
  }
  
  /*responsive typography */
  @media screen and (max-width: 72rem) {
      :root {
          --type-scale: 1.25;
      }
  }
  
  @media screen and (max-width: 56rem) {
      :root {
          --type-scale: 1.15;
      }
  }
  @media screen and (max-width: 30rem) {
      :root {
          --type-scale: 1.10;
          --body: calc( var(--base-size) * 1.05 );
      }
  }
  
  
  /*------------------------------------------------
  ## Typography
  ------------------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: var(--font-headings);
  }
  
  h1 {
      font-size: var(--h1);
      line-height: calc( var(--h1) * var(--type-scale) );
  }
  
  h2 {
      font-size: var(--h2);
      line-height: calc( var(--h2) * var(--type-scale) );
  }
  
  h3 {
      font-size: var(--h3);
      line-height: calc( var(--h3) * var(--type-scale) );
  }
  
  h4 {
      font-size: var(--h4);
      line-height: calc( var(--h4) * var(--type-scale) );
  }
  
  h5 {
      font-size: var(--h5);
      line-height: calc( var(--h5) * var(--type-scale) );
  }
  
  h6 {
      font-size: var(--h6);
      line-height: calc( var(--h6) * var(--type-scale) );
  }
  
  p {
      font-size: var(--body);
      line-height: calc( var(--body) * var(--type-scale) );
      margin-bottom: var(--body);
      
      
  }
  @media screen and (max-width: 30rem) {
      p {
      line-height: calc( var(--body) * 1.15 );
    }
  }
  .justify-text{
      text-align: justify;
  }
  
  small,
  .small-text {
      font-size: var(--base-size);
      line-height: calc( var(--base-size) * var(--type-scale) );
  }
  
  strong {
      font-variation-settings: 'wght' 900;
  }
  
  em {
      font-style: italic;
      font-variation-settings: 'wght' 200;
  }
  form p{
      margin:0;
      line-height:0;
      display:inline;
      height:100%;
  }
  form p label{
      display:none;
  }
  /*------------------------------------------------
  ## Layout
  ------------------------------------------------*/
  *,
  *:before,
  *:after {
      position: relative;
      box-sizing: inherit;
  }
  
  body {
      font-size: var(--base-size);
      font-family: var(--font-body);
      margin: 0;
      color: var(--color-black);
      /* color: var(--color-bg-dk); */
      
  }
  /*------------------------------------------------
  ## Links
  ------------------------------------------------*/
  a {
      color: var(--color-white);
      text-decoration: none;
  }
  
  a:hover,
  a:active,
  a:focus {
      color: var(--color-hover-active-focus);
  }
  
  a:visited {
      color: var(--color-visited-link);
  }
  
  a.btn {
      font-size: var(--body);
      padding: 0.8rem 2.4rem;
      border: 2px solid var(--color-neon);
      color: var(--color-neon);
      border-radius: 100px;
      position: absolute;
      left: 50%;
      bottom: 3.2rem;
      transform: translateX(-50%);
  }
  
  /*------------------------------------------------
  ## Elements
  ------------------------------------------------*/
  /*icons*/
  
  
  .ra {
      color: var(--color-yellow);
      -webkit-text-fill-color: var(--color-yellow);
  }
  
  ol,
  ul {
      line-height: var(--body);
  }
  .section-title {
      font-weight: 900;
      color: var( );
  }
  
  .sub-section-title {
      font-size: var( );
      background-image: var( );
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  
  
  /*------------------------------------------------
  ## Accessibility
  ------------------------------------------------*/
  /* Text meant only for screen readers. */
  .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      word-wrap: normal !important;
  }
  
  .screen-reader-text:focus {
      background-color: #eee;
      clip: auto !important;
      clip-path: none;
      color: #444;
      display: block;
      font-size: 1em;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000; /* Above WP toolbar. */
  }
  
  /* -----------------------------------------------------------
  --------------------------------------------------------------
  
  header section style
  
  --------------------------------------------------------------
  --------------------------------------------------------------*/
  #header{
    font-family:sans-serif;
    }
  .header-general{
      display: flex;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
      height: 70px;
      z-index: 1000;
      transition: all 0.3s;
      background: var(--color-header);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      
  }
  
  /*===============================
  responsiveness for very large screens
  ===============================*/
  
  @media screen and (min-width:1600px){
      .header-general {
          padding-left: 10%;
          padding-right: 10%;
        }
      .section-padding{
          padding-left: 10%;
          padding-right: 10%;
      }
      .profile-info-after-login {
          right: 10% !important;
      }
  }
  @media screen and (max-width:1200px){
  .header{
    height: 60px;
  }
  }
  /*===============================
  responsiveness for very large screens
  ===============================*/
  .section-padding{
  padding-left: 2% !important;
  padding-right: 2% !important;
  
  }
  @media screen and (min-width:1000px){
  .section-padding{
    padding-left: 5% !important;
    padding-right: 5% !important;
    
  }}
  .padding-bottom{
  padding-bottom: 60px;
  }
  @media screen and (min-width:1500px){
    .header {
        padding-left: 10%;
        padding-right: 10%;
      }
    .section-padding{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    
  }
  
  @media screen and (min-width:1650px){
    .header {
        padding-left: 12%;
        padding-right: 12%;
      }
    .section-padding{
        padding-left: 12% !important;
        padding-right: 12% !important;
    }
    
  }
  @media screen and (min-width:1700px){
    .header {
        padding-left: 15%;
        padding-right: 15%;
      }
    .section-padding{
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    
  }
  @media screen and (min-width:1750px){
    .header {
        padding-left: 17%;
        padding-right: 17%;
      }
    .section-padding{
        padding-left: 17% !important;
        padding-right: 17% !important;
    }
    
  }
  @media screen and (min-width:2000px){
    .header {
        padding-left: 20%;
        padding-right: 20%;
      }
    .section-padding{
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    
  }
  
  /*===============================
  logo section
  ===============================*/
  .header-general .logo a{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: 600;
  }
  .header-general .logo h4{
      font-size: 35px;
      font-weight: 600;
      margin-bottom:0px;
  }
  @media screen and (max-width:400px){
    .header-general .logo h4{
      font-size: 30px;
      
  }
  }
  .header-general .logo a img{
    width: 50px;
  }
  
  .nav-container{
      margin-left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:all 0.3s;
      
  }
  /*===========================
  nav-container responsive
  ============================*/
  @media screen and (max-width: 1094px){
  .nav-container{
      margin-left: 5%;  
  }
  }
  /*===========================
  navigation links
  ============================*/
  .navigation-general{
      display: flex;
      align-items: center;
      justify-content: center;
  }
   .navigation-general {
    padding: 0;
  }
  
  .navigation-general ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navigation-general li {
    position: relative;
  }
  
  .navigation-general>ul>li {
    position: relative;
    white-space: nowrap;
    margin: 0 12px;
  }
  
  .navigation-general a,
  .navigation-general a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 3px;
    
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  
  .navigation-general a i,
  .navigation-general a:focus i {
    font-size: 14px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navigation-general>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #009961;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navigation-general a:hover:before,
  .navigation-general li:hover>a:before,
  .navigation-general .active:before {
    visibility: visible;
    width: 100%;
  }
  
  .navigation-general a:hover,
  .navigation-general .active,
  .navigation-general .active:focus,
  .navigation-general li:hover>a {
    color: #fff;
  }
  
  .navigation-general .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-header);
    color:var(--color-white);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid #009961;
  }
  
  .navigation-general .dropdown ul li {
    min-width: 200px;
  }
  
  .navigation-general .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
    font-weight: 500;
    color:var(--color-white);
    font-size: 16px;
  }
  
  .navigation-general .dropdown ul a i {
    font-size: 12px;
  }
  
  .navigation-general .dropdown ul a:hover,
  .navigation-general .dropdown ul .active:hover,
  .navigation-general .dropdown ul li:hover>a {
    background: #009961;
    color:var(--color-white);
  }
  
  .navigation-general .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navigation-general .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navigation-general .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  /* -------------------
  drop down
  --------------------*/
  .drop-down{
    position: relative;
  }
  .drop-down:hover >ul{ 
    opacity: 1;
    top: 100%;
    visibility: visible;
    display:block;
  
  }
    
   .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid #009961;
  }
  
   .dropdown ul li {
    min-width: 200px;
  }
  
   .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #282828;
  }
  
   .dropdown ul a i {
    font-size: 12px;
  }
  
   .dropdown ul a:hover,
   .dropdown ul .active:hover,
   .dropdown ul li:hover>a {
    color: #009961;
  }
  
   .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
   .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
   .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navigation-general .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navigation-general .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /* -------------------
  get started button
  --------------------*/
  .login-signup{
      margin-left: 30px;
      
  }
  .navigation-general button{
      padding: 10px 15px;
      border-radius: 20px;
      color: var(--color-white);
      border: none;
      background: var(--color-button);
      font-size: medium;
  }
  .navigation-general button:hover{
      background: var(--color-green-lighter);
  }
  /*----------------
  harmburger
  ---------------------*/
  .harmburger ,.close-harmburger{
      display: none;
      font-size: 28px;
      cursor: pointer;
  }
  .close-harmburger{
    margin-top: 10px;
    margin-right: 10px;
  }
  /*-----------------------------------------
  header for tablets and phones
  -------------------------------------------*/
  @media screen and (max-width: 1200px){
    .navigation-general .dropdown ul a:hover,
  .navigation-general .dropdown ul .active:hover,
  .navigation-general .dropdown ul li:hover>a {
    background: white;
  }
      .nav-container {
        display: none;
      }
      .harmburger,.close-harmburger {
        display: block;
        color: white;
        
      }
      
      .header-general {
        
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
  
      }
      .nav-container.show {
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        margin-left: 0;
        color: var(--color-black);
        background: var(--color-header);
        z-index: 1500;
        
      }
      .navigation-general {
          flex-direction: column;
          flex-basis: 80%;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 30px;
          padding-top: 60px;
          background: var(--color-white);
          height: 100%;
          overflow: auto;
          scrollbar-color: var(--color-black);
      }
      .navigation-general ul {
          flex-direction: column;
          padding-left: 10px;
          align-items: flex-start;
        }
       .navigation-general ul .main-link {
          margin: 0px ;
          text-align: start;
          
        }
        .navigation-general ul .main-link .nav-link-main,
        .navigation-general ul .drop-down a,
        .navigation-general ul .main-link a:focus,
        .navigation-general ul .main-link a:visited,
        .navigation-general ul .main-link a:active{
               
          color: var(--color-black);
               
        }
        .login-signup {
          margin-left: 0;
          margin-top: 10px;
        }
        .navigation-general ul .main-link .nav-link-main, .navigation-general ul .main-link a:focus {
           font-size: 16px;
          color: var(--color-black);
        }
        .navigation-general ul .main-link .nav-link-main:hover, .navigation-general ul .main-link.active .nav-link-main, .navigation-general ul .active:focus {
          color: var(--color-green);
          ;
        }
         .navigation-general .dropdown ul {
            position: static;
            display: none;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          }
          
           .navigation-general .dropdown ul li {
            min-width: 200px;
          }
          
           .navigation-general .dropdown ul a {
            padding: 10px 20px;
            color: var(--color-black);
          }
          
           .navigation-general .dropdown ul a i {
            font-size: 12px;
          }
          
           .navigation-general .dropdown ul a:hover,
           .navigation-general .dropdown ul .active:hover,
           .navigation-general .dropdown ul li:hover>a {
            color: #009961;
          }
          
          .navigation-general .dropdown ul.dropdown-active {
            display: block;
          }
          .navigation-general .dropdown ul a:hover,
  .navigation-general .dropdown ul .active:hover,
  .navigation-general .dropdown ul li:hover>a {
    background: white;}
  }
  @media screen and (max-width: 378px){
    .navigation-general .dropdown ul span{
      display:none;
    }
  }
  @media screen and (max-width:480px){
    .header-general {
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 10px;
    height: 60px;
  }
  
  
  .header-general .logo a img{
  width: 40px;
  }
  }
  
  .container-dummy{
      display: flex;
      justify-content: center;
      align-items: center;
    }
   .container-dummy .profile-after-login{
      position:relative;
      margin-right: 20px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .container-dummy .profile-after-login .counter-show{
      position:absolute;
      bottom: 0;
      font-weight:700;
      right:-7px;
      border:1px solid var(--color-black);
      background:var(--color-green);
      width:15px;
      height:15px;
      display:flex;
      align-items: center;
      justify-content:center;
      font-size:10px;
      border-radius:50%;
    }
    .container-dummy .profile-after-login img{
      width: 30px;
      height: 30px;
      border: 2px solid var(--color-white);
      object-fit: cover;
      border-radius: 50%;
    }
    .container-dummy .profile-after-login p{
      margin-bottom: 0px;
      margin-left: 2px;
      font-size: 15px;
      font-weight: 600;
    }
    @media screen and (max-width:480px){
      .container-dummy .profile-after-login p span{
        display: none;
      }
    }
    .profile-info-after-login{
      position: absolute;
      display: none;
      opacity: 0;
      visibility: hidden;
      top: 70px;
      right: 20px;
      width: 25%;
      
      background: var(--color-header);
    }
    .profile-info-after-login.open{
      display: block;
      opacity: 1;
      visibility: visible;
    }
     .click-area{
      position: relative;
    
    
    }
    .click-area .close-profile{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      font-size: 20px;
      cursor: pointer;
      display: none;
      
    }
    .click-area .heading{
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-weight: 600;
    }
    .click-area .profile .links li{
      padding: 10px;
      padding-left: 20px;
    }
    .click-area .profile .links li:last-of-type{
      padding-bottom: 20px;
    }
    .click-area .profile .links li i{
      margin-right: 2px;
    }
    .click-area .profile .links li a:hover{
      font-weight: 700;
      
    }
    @media screen and (max-width: 1200px){
      .profile-info-after-login.open{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: var(--color-header);
      }
      .click-area{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding-right: 20px;
      
      
      }
      .click-area .close-profile{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        font-size: 25px;
        cursor: pointer;
        display: block;
        
      }
      .profile-info-after-login .click-area .profile {
        background: var(--color-white);
        overflow: auto;
        color: var(--color-black);
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
      }
      .click-area .profile .links li {
        padding-bottom: 20px;
      }
    
    }
    @media  screen and (max-width:320px){
        .navigation-general {
            padding: 0px;
            padding-left:5px;
        }
    }
  
  /* -----------------------------------------------------------
  --------------------------------------------------------------
  
  header section style end
  
  --------------------------------------------------------------
  --------------------------------------------------------------
  */
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      overflow: hidden;
      background: rgb(0,40,40);
    }
    
    #preloader:before {
      content: "";
      position: fixed;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      border: 6px solid rgb(0,40,40);
      border-top-color: #fff;
      border-bottom-color: #fff;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: animate-preloader 1s linear infinite;
    }
    
    @keyframes animate-preloader {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
  
  
  
  
  /*----------main-------*/
  
  main{
      background:#000 url('../img/agriculture-min.jpg')no-repeat center center/ cover;
      background-attachment: fixed; 
  }
  
  .search-open{
      margin:0px 20px; 
      cursor: pointer; 
      font-size:calc(var(--body) + 2px );
  }
  
  .search-close{
      margin-top:5px;
      display: flex;
      justify-content: center;
      align-items:center;
  
  }
  .search-open button,
  .search-close button{
      padding: 10px 20px;
      background: var(--color-header);
      color:var(--color-white);
      border:none;
      border-radius:3px;   
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
  }
  .search-open button.hide{
      display:none;
  }
  .search-open button span,
  .search-close button span{ 
      font-size: 15px;
      font-weight: 600;
  }
  
  .search-form{
      display:none;
      transition: all 0.3s;
  }
  .search-form.show{
      position:fixed;
      display:block;
      z-index: 2;
      top: 70px;
      height: calc(100% - 70px);
      width:100%;
      background: var(--color-image-filter-darker);
  }
  .search-form.show .filter{
      background: var(--color-image-filter);
      width:100%;
      height:100%;
  }
  .form{
      
      width:600px;
      margin:20px auto;
  }
  @media screen and (max-width:700px){
      .form{
          width:80%;
      }
      
  }
  .form .input-holder{
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      height:50px;
      border-bottom: 3px solid var(--color-white);
      padding-bottom: 10px;
  
  
  }
  .form .input-holder i{
      font-size:20px;
      color:var(--color-white);
  }
  .form .input-holder input{
      width:100%;
      height:100%;
      background: transparent;
      font-size:16px;
      padding:10px 20px;
      color:var(--color-white);
      border:none;
      outline:none;
  }
  @media screen and (max-width:700px){
      
      .form .input-holder input{
          padding:5px;
      }
  }
  .form .input-holder button{
      padding:15px 25px;
      font-size:16px;
      font-weight:500;
      border-radius:25px;
      background:var(--color-white);
      border: none;
      transition:all 0.3s;
  }
  @media screen and (max-width:700px){
  
      .form .input-holder button{
          padding:10px 10px;
          font-size:14px;
      }
  }
  .form .input-holder button:hover{
      background:var(--color-green);
      color:var(--color-white);
  
  }
  .form .auto-suggestion{
      width:100%; 
      height:260px;
      overflow-y:auto;
      scrollbar-width: thin;
      margin-top: 10px;
  }
  .form .auto-suggestion::-webkit-scrollbar {
      width: 0.5em;
  }
  .form .auto-suggestion::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    outline: 1px solid slategrey;
  }
  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear { 
      display: none;
      width : 0; 
      height: 0; }
  input[type=search]::-ms-reveal { 
      display: none; 
      width : 0; 
      height: 0; }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { 
      display: none; }
  .form .auto-suggestion ul{
      padding-top: 30px;
      font-weight: 500;
      
      padding-left:10%;
      
  
  }
  .form .auto-suggestion ul li{
      margin-bottom: 10px;
      padding:8px;
      color:var(--background-color);
  }
  .form .auto-suggestion ul li:hover{
      color:var(--color-white);
      cursor:pointer;
      font-weight:600;
      background: var(--color-image-filter); 
  }
  /*weather  search end*/
  
  
   
  /*
  ==========================FOOOTER START==================
  
  */
  footer{
    padding-top: 70px;
    background: linear-gradient(30deg, var(--color-green) 0%, #232b31 37%, rgb(35, 35, 49) 100%);
      color:var(--color-white);
    }
    footer .top{
    display: flex;
    flex-wrap: wrap;
    }
    footer .top .footer-heading,footer .heading{
    min-width: 200px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    }
    footer .top .footer-heading-location{
    width: 300px;
    margin-right: 30px;
    margin-left:50px;
    margin-bottom: 30px;
    }
    footer .top .footer-heading .logo a img{
      width: 50px;
    }
    footer .top .footer-heading .logo a{
    display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 600;
      
    }
    footer .top .footer-heading .logo a h5{
    font-size: 35px;
    margin-bottom:0px;
    }
    @media screen and (max-width:480px){
    footer .top .footer-heading .logo a h5{
      font-size: 30px;
    }
    }
    footer .heading{ 
    margin-top: 5px;
    margin-bottom: 5px;
    
    }
    
    .bold-footer{
    font-weight: 600;
    
    }
    footer a{
    font-weight: 500;
    }
    footer p{
    margin-bottom: 5px;
    }
    .left-container{
    display: flex;
    justify-content: space-between;
    }
    @media screen and (max-width:1200px){
    footer{
      padding-top: 20px;
    }
    footer .top{
      display: flex;
      flex-direction: column-reverse;
    }
    .left-container{
      display: flex;
      flex-direction: column;
    }
    footer .top .footer-heading{
      width: 100%;
      min-width:100%;
      
    }
    footer .top .footer-heading-location{
      width: 100%;
      margin-right: 30px;
      margin-left:0px;
      margin-bottom: 30px;
    }
    footer.section-padding{
      padding-left: 5% !important;
    }
    
    }
    footer ul li {
     font-size: calc(var(--body) -1px);
     margin-top: 15px;
     color:var(--color-white)
    }
    footer p.not-link {
    font-size: calc(var(--body) -1px);
      color:var(--color-white);
    }
    footer p.not-link .white{
    color:var(--color-white);
    font-weight: 600;
    }
    footer ul li a{
    color:var(--color-white)
    }
    footer .social-links{
    font-size: 30px;
    margin-top: 20px;
    }
    footer .social-links a{
    margin: 10px;
    color:var(--color-white);
    }
    footer .social-links a:hover,footer ul li a:hover{
    color:var(--color-white);
    font-weight: 600;
    }
    footer .social-links a:hover i{
      transform: scale(1.05);
    }
    /*
    ==========================FOOOTER END==================
    
    */
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
      position: fixed;
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      right: 15px;
      bottom: 15px;
      z-index: 996;
      background: var(--color-green);
      width: 40px;
      height: 40px;
      border-radius: 50px;
      transition: all 0.4s;
    }
    
    .back-to-top i {
      font-size: 28px;
      color: #fff;
      line-height: 0;
    }
    
    .back-to-top:hover {
      background: var(--color-green-lighter);
      color: #fff;
    }
    
    .back-to-top.active {
      visibility: visible;
      opacity: 1;
    }
    @media screen and (max-width:480px){
      .header-general {
      justify-content: space-between;
      padding-left: 2px;
      padding-right: 5px;
      height: 60px;
    }
    .search-form.show{
        top: 60px;  
    }
    .header-general .logo h4{
      font-size: 35px;
      font-weight: 600;
    }
    .header-general .logo a img{
    width: 40px;
    }
    .search-form.show{
      height: calc(100% - 60px);
    }
    }
    @media screen and (max-width:310px){
      .header-general .logo h4{
        display:none;
      }
    }
     /*---------------------------------------------------------------
  message notification
  -----------------------------------------------------------------*/
  .message{
      position:fixed;
      top:70px;
      left:0;
      padding:10px;
      width: 100%;
      background:#ddffdd;
      z-index:100;
    }
    .message.hide{
      display:none;
    }
    
    .message .content{
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:var(--body);
    }
    .message .content ul li i{
      color:var(--color-green-lighter);
    }
    .message .content ul li span{
      color:var(--font-blue-darker);
    }
    .message .content .bi-x{
      padding:5px;
      background:red;
      border-radius: 50%;
      margin-left:20px;
      color:var(--color-white);
      cursor:pointer;
    }
    @media screen and (max-width:480px){
      .message{
        top:60px;
      }
      .message .content{
        font-size:small;
      }
      .message .content .bi-x{
        margin-left:2px;  
      }
    
    }
    @media screen and (max-width:360px){
      .message .content{
        font-size:12px;
      }
    }
    main{
        background: var(--background);
        padding-top: 90px;
    }
    main .forecast{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
   
    .forecast-left{
        flex-basis: 65%;
        margin-bottom: 30px;
        
    }
    .blog-advertisement{
        flex-basis: 33%;
        flex-grow: 0;
        position: sticky;
        top:75px;
        margin-bottom: 20px;
    }
    
    .recent-blogs{
        background: white;
        padding-top: 10px;
        border-radius: 5px;
        
    }
    .blog{
       display:flex;
       justify-content: space-between;
       padding-left: 20px;
       padding-right: 20px;

    }
    .content{
        margin-right:10px;
    }
    .border-bottom p.blog-title,p.date-blog{
        color:var(--color-gray);
      font-size: calc(var(--body) - 5px );
      margin-bottom: 2px;
    }
    .border-bottom p.attention-grabber{
        margin-bottom: 2px;  
    }
    .image img{
        width:80px;
        height: 80px;
        border-radius: 10px;
        object-fit: cover;
    }
    @media screen and (max-width:1000px){
        main .forecast{
            flex-direction: column;
            
        }
        .blog-advertisement{
            position: relative;
            top: unset;
        }
        .forecast-left{
            flex-basis: 100%;
            width:100%;   
        }
        .blog-advertisement{
            flex-basis: 100%;
            width:100%; 
        }
        
    }
    .today{
        background: white;
        border-radius: 10px;
        padding-bottom: 20px;
        
    }
    .country-time{
        display:flex;
        justify-content: space-between;
        color: var(--color-gray);
        padding: 20px;
        border-bottom: 1px solid #e4eaf2;
    }
    .country-time p{
        margin-bottom: 0;
    }
    p.time,p.number{
      color:#000;
      font-size: calc(var(--body) - 3px );
    }
    .temperature-others{
        display: flex;
        
        flex-wrap: wrap;
        padding: 20px;
    }
   
    .temperature{
        display:flex;
        align-items: center;
    }
    .bi-sun{
        color: #ec8e10;
        margin-right: 20px;
    }
    .bottom-today{
        padding-left: 20px;
    }
    .bottom-today p{
        margin-bottom: 0;
    }
    .others{
        flex-basis: auto;
        flex-grow: 1;
        margin-left:20px;
    }
    @media screen and (max-width:410px){
        .temperature{
            margin-bottom:10px;
            justify-content: center;
        }
        .temperature h1{
            font-size:60px;
        }
        .temperature h2{
            font-size:50px;
            line-height: 55px;
        }
        .temperature-others{
            flex-direction: column;   
        }
        .others{
            flex-basis: auto;
            flex-grow: 1;
            margin-left:0px;
        }
    }
    .border-bottom{
        display:flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--background);
        padding-top: 10px;
    }
    .border-bottom p{
        margin-bottom: 10px;
    }
    .today-3hrs{
        background: white;
        margin-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        width:100%;

    }
    .title{
        padding-left:20px;
        padding-right: 20px;
    }
    .forecast-week .bi-sun{
        margin:0px;
    }
    .forecast-week.border-bottom{
        display:flex;
        align-items: center;
        
        flex-wrap: wrap;
        padding: 10px 10px 0px 10px;
    }
    .forecast-week.border-bottom p{
        margin-right: 5px;
    }